/* Цвет основного текста #757575  */
/* Цвет вторичного текста #212121 */
/* Белый #FFFFFF */
/* Вторичный цвет фона #F5F4FA */
/* Акцент #2196F3 */
/* Цвет футера rgba(255, 255, 255, 0.6) */
/* Цвет подписи rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

/* logo */
.logo {
  color: var(--accent-color);
}

.logo-part-nav {
  color: var(--title-text-color);
}

.logo-part-footer {
  color: var(--background-color);
}

/* site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav,
.site-nav .link:active {
  color: var(--title-text-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* featurers */
.feature-list .title {
  color: var(--title-text-color);
}

/* work list */
.work-list .title {
  color: var(--title-text-color);
}

/* team list */
.team-list .title {
  color: var(--title-text-color);
}
.speciality {
  color: var(--primary-text-color);
}
