/* Цвет основного текста #757575  */
/* Цвет вторичного текста #212121 */
/* Белый #FFFFFF */
/* Вторичный цвет фона #F5F4FA */
/* Акцент #2196F3 */
/* Цвет футера rgba(255, 255, 255, 0.6) */
/* Цвет подписи rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}

.logo-part-nav {
  color: var(--title-text-color);
}

.logo-part-footer {
  color: var(--primary-white-color);
}

/* nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav,
.site-nav .link:active {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}
/* section */
.section-title {
  color: var(--title-text-color);
}

/* Стили для index.html */
/* featurers */
.features .title {
  color: var(--title-text-color);
}

/* work list */
.work .title {
  color: var(--title-text-color);
}

/* team list */
.team .title {
  color: var(--title-text-color);
}
.team .speciality {
  color: var(--primary-text-color);
}
.section-team {
  background-color: var(--secondary-background-color);
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Стили для Portfolio */
.projects .title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}
.projects .dimension {
  color: var(--primary-text-color);
}
button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}
button:hover,
button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
